.Carousel {
  /* border: 2px solid blue; */
  position: relative;
  width: 100%;
<<<<<<< HEAD:src/components/Home/Home.css
  height: 550px;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../../assets/carousel_mars.jpg');
  background-position: center;
=======
  height: 34.4rem;
  background: no-repeat url('./carousel_mars.jpg');
  background-position: top;
>>>>>>> 8854837990def5e3d50e5dcd112d475c26e5718c:sass/components/_Home.scss
  background-size: cover;
  /* padding-bottom: 66.63%; */
}

/* .carousel__image {
  border: 2px solid red;
  width: 100%;
  max-height: 550px;
  background: no-repeat url('../../assets/carousel_mars.jpg');
  background-position: center;
  background-size: cover;
  padding-bottom: 66.63%;
} */

/* .carousel__movie {
  border: 2px solid red;
  width: 100%;
  height: auto;
  object-fit: fill;
  object-position: center;
} */

.carousel__overlay {
  /* border: 2px solid orange; */
  position: absolute;
  display: flex;
  flex-flow: column;
  bottom: 0px;
  left: 0px;
  height: 1.6rem;
  width: 100%;
  background: rgba(0, 0, 0, .5);
}

.carousel__overlay-header {
  /* border: 2px solid lime; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.carousel__title {
  font-size: 1.9rem;
  margin-left: 3.2rem;
  text-transform: uppercase;
}

.carousel__btn {
  font-size: 1rem;
  color: RGB(58, 58, 58);
  background: white;
  margin-right: 3.2rem;
  height: 3.6rem;
  width: 1.8rem;
  border-radius: 2px;
  box-shadow: 2px 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.carousel__menu {
  display: flex;
  align-items: center;
  height: 6.0rem;
  background: RGB(24, 28, 31);
  font-size: 1.2rem;
  height: 6.0rem;
}

.carousel__menu-item {
  display: flex;
  width: 21.1rem;
  justify-content: center;
}

.carousel__menu-num {
  margin-right: 1.9rem;
  color: RGB(139, 147, 155);
}

.carousel__menu-title {}

.Content {
  /* border: 2px solid red; */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: #3a3a3a;
  font-size: 1rem;
  padding-top: 70px;
  box-shadow: inset 0 100px 100px -100px rgba(0, 0, 0, 0.4)
}

.content__header {
  margin-bottom: 60px;
  /* border: 2px solid blue; */
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  transition: all 0.5s ease;
}

@media (max-width: 900px) {
  .content__header {
    font-size: 24px;
    line-height: 36px;
    padding: 0 55px;
  }
}

@media (max-width: 768px) {
  .content__header {
    font-size: 24px;
    line-height: 36px;
    padding: 0 20px;
  }
}

.content__cards {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 150px;
  transition: all 1s ease;
}

@media (max-width: 768px) {
  .content__cards {
    /* border: 1px solid red; */
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 950px;
    max-width: 500px;
    min-width: 320px;
    margin-bottom: 100px;
  }
}

.card {
  /* border: 2px solid black; */
  min-width: 200px;
  max-width: 313px;
  height: 283px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  padding: 24px;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .card {
    min-width: 200px;
    max-width: 350px;
    /* border: 2px solid blue; */
  }
}

.card-image-wrapper {
  /* border: 2px solid green; */
  width: 100%;
  height: auto;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  transition: all 0.5s ease;
}

@media (max-width: 900px) {
  .card-title {
    font-size: 14px;
  }
}

.card-link__wrapper {
  align-self: start;
}

.card-link {
  color: RGB(53, 105, 164);
  font-size: 12px;
  text-decoration: none;
  transition: all 0.5s ease;
  border-bottom: 2px solid transparent;
}

.card-link:hover {
  border-bottom: 2px solid RGB(53, 105, 164)
}

.footer__spacex {
  /* border: 2px solid blue; */
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: RGB(24, 28, 31);
  color: white;
  font-size: 3rem;
}

.footer__social {
  /* border: 2px solid lime; */
  height: 5.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: RGB(14, 17, 18);
  color: white;
  font-size: 2rem;
}