*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: black;
  font-family: 'Josefin Sans', Lato, Helvetica, sans-serif;
  font-weight: 400;
  color: white;
}
