.carousel__wrapper {
  /* border: 2px solid blue; */
  position: relative;
  width: 100%;
  height: 550px;
  background: no-repeat url('../../assets/carousel_mars.jpg');
  background-position: top;
  background-size: cover;
  /* padding-bottom: 66.63%; */
}

/* .carousel__image {
  border: 2px solid red;
  width: 100%;
  max-height: 550px;
  background: no-repeat url('../../assets/carousel_mars.jpg');
  background-position: center;
  background-size: cover;
  padding-bottom: 66.63%;
} */

/* .carousel__movie {
  border: 2px solid red;
  width: 100%;
  height: auto;
  object-fit: fill;
  object-position: center;
} */

.carousel__overlay {
  /* border: 2px solid orange; */
  position: absolute;
  display: flex;
  flex-flow: column;
  bottom: 0px;
  left: 0px;
  height: 160px;
  width: 100%;
  background: rgba(0, 0, 0, .5);
}

.carousel__overlay-header {
  /* border: 2px solid lime; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.carousel__title--active {
  font-size: 2rem;
  margin-left: 5%;
  text-transform: uppercase;
}

.carousel__button--active {
  font-size: 1rem;
  color: black;
  margin-right: 5%;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px;
}

.carousel__menu {
  display: flex;
  align-items: center;
  height: 60px;
  background: RGB(24, 28, 31);
  font-size: 12px;
  height: 60px;
}

.carousel__menu-item {
  display: flex;
  width: 33%;
  justify-content: center;
}

.carousel__menu-num {
  margin-right: 3%;
  color: RGB(139, 147, 155);
}

.content-main {
  border: 2px solid red;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  font-size: 3rem;
}

.footer__main {
  border: 2px solid blue;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: RGB(24, 28, 31);
  color: white;
  font-size: 3rem;
}

.footer__social {
  border: 2px solid lime;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: RGB(14, 17, 18);
  color: white;
  font-size: 2rem;
}
