.carousel-main {
  border: 3px solid red;
  max-height: 484px;
  overflow: hidden;
}

.carousel-inner {
  border: 3px solid green;
}

.carousel-inner .item img {
  border: 3px solid blue;

}

.carousel-caption {
  border: 3px solid pink;
}
