.Navbar {
  border: 2px solid blue;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2%
}

.logo {
  border: 1px solid green;
}

.rockets {
  border: 1px solid green;
  display: flex;
}

.news {
  border: 1px solid green;
}

.company {
  border: 1px solid green;
  display: flex
}

.shop {
  border: 1px solid green;
}